:root {
  background-color: lightgray;

  font-size: 70.3%;
}

body {
  margin: 0;
  width: auto;
}

.row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  margin-top: 100px;
  left: 50%;
}

#time {
    margin-right: -108px;
    margin-top: 50;
}

.beginBtn {
  margin-bottom: 80px;
  margin-left: 124px;
}

* {
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

  margin: 0;

  padding: 0;

  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.3rem;

  color: #56a5eb;

  margin-bottom: 5rem;
  
}

h1 > span {
  font-size: 3.3rem;

  font-weight: 500;
}

h2 {
  font-size: 2.2rem;

  margin-bottom: 4rem;

  font-weight: 700;
}

h3 {
  font-size: 2.8rem;

  font-weight: 500;
}

#header-1 {
    
    width: 100%;
    height: 50px;
    margin:auto;

}

.beginBtn {
  color: crimson;
  font-size: 50px;
  margin-bottom: 80px;
  margin-left: 124px;
  margin-top: -164px;
}

#Timer {
  display: flex;
  flex-direction: row-reverse;
    border-radius: 10px 10px;
    margin-top: 35px;
    position: relative;
}

#High-Scores {
  float: left;
  width: 20%;
  display: flex;
    font-size: 18px;
    border-radius: 20px 10px;
    position: relative;

}

.timerBtn {
  float: right;
  width: 20%;
}

/* utilities */

.topScoresbtn {
  width: 150px;
  margin-right: 100px;
  float: right;
  margin-top: 45;
    font-size: 25;
    margin-left: 10;
}

.container {
  background-color: aqua;

  margin-top: 40px;

  width: 100vw;

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

#guide, #main {

  padding: 30px;
  border-radius: 40px 20px;
  border: 5px solid black;
  width: 450px;
  height: auto;

}


#guide #button {
    display:flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
}


#guide #button button {
    margin: 200px;
    color: crimson;
    height: 50px;
    width: 100px;
    margin: 10px 40px;
    background: lightgrey;
    border: 3px solid blue;
    font-size: 18px;
    border-radius: 20px 10px;
}

#guide #button button: :last-child {
    margin: 20px 2;
}

#guide #button button:hover {
    background: lightsalmon;
}

#main {

}

.hidden {
    display: none;
}