:root {
  background-color: lightgray;

  font-size: 70.3%;
}

body {
  margin: 0;
  width: auto;
}

.row-full {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  margin-top: 100px;
  left: 50%;
}

#timer {
   color: black;
   font-size: 1.5rem;;
}

.beginBtn {
  margin-bottom: 80px;
  margin-left: 124px;
}

* {

  font-family: Arial, Helvetica, sans-serif;

  margin: 0;

  padding: 0;

  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.3rem;

  text-decoration: underline;

  color: darkcyan;

  margin-bottom: 5rem;
  
}

h1 > span {
  font-size: 3.3rem;

  font-weight: 500;
}

h2 {
  font-size: 2.2rem;

  margin-bottom: 4rem;

  font-weight: 700;
  text-decoration: underline;
}

h3 {
  font-size: 2.8rem;
  font-weight: bold;

 
}

#header-1 {
   
    padding: 1em;
    width: 71%;
    height: 56px;
    margin:auto;

}

.beginBtn {
  color: crimson;
  font-size: 50px;
  margin-bottom: 80px;
  margin-left: 124px;
  margin-top: -164px;
}

#Timer {
  display: flex;
  flex-direction: row-reverse;
    border-radius: 10px 10px;
    margin-top: 35px;
    position: relative;
}

#High-Scores {
  float: left;
  width: 20%;
  display: flex;
    font-size: 18px;
    border-radius: 20px 10px;
    position: relative;

}

.timerBtn {
  float: right;
  width: 20%;
}

/* utilities */

.topScoresbtn {
  width: 150px;
  margin-right: 100px;
  float: right;
  margin-top: 10px;
  font-size: 25;
  margin: left -41px;
}

.container {

  margin-top: 40px;

  width: 100vw;

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

#guide, #main {

  padding: 30px;
  border-radius: 40px 20px;
  border: 5px solid black;
  width: 450px;
  height: auto;

}


#guide #button {
    display:flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
}


#guide #button button {
    margin: 200px;
    color: crimson;
    height: 50px;
    width: 100px;
    margin: 10px 40px;
    background: lightgrey;
    border: 1px solid blue;
    font-size: 18px;
}

#guide #button button :last-child {
    margin: 20px 2;
}

#guide #button button:hover {
    background: lightsalmon;
}



.hidden {
  display: none;
}

#main-quiz {

  /* display: none; */

  width:70%;
  margin-left:10%;
  letter-spacing: 2px;
  font-size:2rem;;
  height:70vh;

}

#back-button {

  height: 80px;
  width: 100px;
  border-radius: 10px;
  background-color: crimson;
  color:#333;
  font-size: 25px;
  padding: 10px;
  
}


#questions button{
  width: 90%;
  margin:5%;
  padding:5%;
  text-align: center;
  background-color:darkcyan; 
  color:white;
  font-size: 30px;
}
